In [1]:
"""
Далее идут строки импортов и настройки pandas
"""

'\nДалее идут строки импортов и настройки pandas\n'

In [2]:
from pandas import DataFrame, set_option

from utils.load import load_middleware
from utils.my_argparse import setup_basic_config
from utils.write import write_middleware

set_option('display.max_rows', None)
set_option('display.max_columns', None)
set_option('display.max_colwidth', None)

In [3]:
"""
Далее функция, которая выполняет задания подпункта 2

Вызовите метод info(), чтобы увидеть число пропущенных значений
Очистите датасет от всех заведений, у которых средний чек неизвестен или превышает 2500
Далее заполните оставшиеся пропуски средними значениями с помощью fillna()
"""

'\nДалее функция, которая выполняет задания подпункта 2\n\nВызовите метод info(), чтобы увидеть число пропущенных значений\nОчистите датасет от всех заведений, у которых средний чек неизвестен или превышает 2500\nДалее заполните оставшиеся пропуски средними значениями с помощью fillna()\n'

In [4]:
def point_two(dataset: DataFrame) -> DataFrame:
    """
    :param dataset: DataFrame obj of table
    :return:
    """

    # Showing info about non-null values
    # (To see missed values (43195-non-null) values)
    print(dataset.info(show_counts=True))

    # Drop rows from the DataFrame, where average_bill is null or more than 2500
    dataset_with_filter = dataset.query(
        'average_bill != None and average_bill <= 2500'
    )

    # fill in the remaining gaps with average values
    return dataset_with_filter.fillna(dataset_with_filter.mean(numeric_only=True))

In [5]:
"""
Далее функция, которая выполняет задания подпункта 3

Каких заведений больше - из Москвы или Санкт-Петербурга? Какие типы заведений есть в датасете?
Сколько в датасете суммарно ресторанов и пабов? Какой у них средний чек?
Какая доля заведений “Кофе с собой” действительно имеет фичу кофе на вынос?
Найдите разницу между средним чеком всех кафе в Москве и Санкт-Петербурге.
"""

'\nДалее функция, которая выполняет задания подпункта 3\n\nКаких заведений больше - из Москвы или Санкт-Петербурга? Какие типы заведений есть в датасете?\nСколько в датасете суммарно ресторанов и пабов? Какой у них средний чек?\nКакая доля заведений “Кофе с собой” действительно имеет фичу кофе на вынос?\nНайдите разницу между средним чеком всех кафе в Москве и Санкт-Петербурге.\n'

In [6]:
def point_three(dataset: DataFrame) -> None:
    """
    :param dataset: DataFrame obj of table
    :return:
    """

    # Showing counts of coffee shops in sbp and msk
    format_string = 'Name: "{}" Count: "{}"'
    cities = dataset["city"].value_counts()
    print(f'\n{format_string.format(*max(cities.items(), key=lambda x: x[1]))}')

    # Showing types of coffee shops
    # (I'm sorting it by len because I like it)

    coffee_shop_types = '\n'.join(sorted(set(dataset["rubric"].tolist()), key=lambda x: len(x)))
    print(f'\n{coffee_shop_types}')

    keys = {'Ресторан', 'Бар, паб'}

    # getting average bill
    print(f'\nAverage Bill: {dataset.query(f"rubric in {tuple(keys)}")["average_bill"].mean()}')

    coffee_to_go = dataset.query('rubric == "Кофе с собой"')
    coffee_to_go_values = coffee_to_go.agg({'coffee_to_go': 'sum'})

    # The share of "Coffee with you" establishments has a takeaway coffee feature Bill
    print(f'\nThe share of "Coffee with you” establishments has a takeaway coffee feature: '
          f'{coffee_to_go_values["coffee_to_go"] / len(coffee_to_go)}')

    msk_sbp = dataset.groupby('city').agg(
        {
            'average_bill': 'sum',
            'city': 'count'
        }
    )

    msk_average_bill = msk_sbp['average_bill']['msk'] / msk_sbp['city']['msk']
    sbp_average_bill = msk_sbp['average_bill']['spb'] / msk_sbp['city']['spb']

    print(f'\nAverage Bill Difference between msk and spb: {msk_average_bill - sbp_average_bill}')

In [7]:
"""
Далее функция, которая выполняет задания подпункта 4

Вызовите метод describe() и напишите 2-3 своих наблюдения. Например, какая фича самая редкая?
"""

'\nДалее функция, которая выполняет задания подпункта 4\n\nВызовите метод describe() и напишите 2-3 своих наблюдения. Например, какая фича самая редкая?\n'

In [8]:
def point_four(dataset: DataFrame) -> None:
    features_names = [
        'coffee_to_go', 'food_delivery', 'breakfast', 'car_park', 'wi_fi', 'karaoke',
        'payment_by_credit_card', 'summer_terrace', 'gift_certificate', 'business_lunch',
        'view_on_ostankino_tower', 'free_delivery', 'music', 'pets', 'air_conditioning'
    ]

    rare_feature = dataset.agg({key: 'sum' for key in features_names})

    format_string = 'Name: "{}" Occurs: "{}"'
    min_feature = format_string.format(*min(rare_feature.items(), key=lambda x: x[1]))
    max_feature = format_string.format(*max(rare_feature.items(), key=lambda x: x[1]))

    print(
        f'\nThere is an institution whose rating is 0\n'
        f'Feature occurs min times is {min_feature}\n'
        f'Feature occurs max times is {max_feature}'
    )

    # print(f'\n{dataset.describe(include="all")}')

In [9]:
"""
Далее функция, которая выполняет задания подпункта 5

Как изменился средний чек ресторанов?
Что еще можно сказать об изменениях в других столбцах? Напишите 1-2 наблюдения.
"""

'\nДалее функция, которая выполняет задания подпункта 5\n\nКак изменился средний чек ресторанов?\nЧто еще можно сказать об изменениях в других столбцах? Напишите 1-2 наблюдения.\n'

In [10]:
def point_five(dataset: DataFrame):
    dataset = dataset.query('city == "spb"')
    # creating new table
    write_middleware('spb_datasets_eat_places.csv', dataset)
    # write_middleware('spb_datasets_eat_places.xlsx', dataset)

    print(f'\nAverage Bill: {dataset["average_bill"].mean()} (it has shrunk)')
    print(f'\nThere is not an institution whose have feature "view_on_ostankino_tower"')
    # print(f'\n{dataset.describe(include="all")}')

In [11]:
"""
Далее идет главвная функция, которая запускает все
"""

'\nДалее идет главвная функция, которая запускает все\n'

In [12]:
def main():
    # Getting arguments from command line
    args = setup_basic_config()

    # Getting values from table
    dataset: DataFrame = load_middleware(args.input_from)

    # Point Two
    dataset = point_two(dataset)

    # Point Three
    point_three(dataset)

    # Point Four
    point_four(dataset)

    # Point Five
    point_five(dataset)


if __name__ == '__main__':
    main()

Loading E:\PythonProjects\projects\mlYandex\source\csv\datasets_eat_places.csv
End of data loading
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43195 entries, 0 to 43194
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               43195 non-null  int64
 1   org_id                   43195 non-null  uint64
 2   city                     43195 non-null  object
 3   average_bill             17820 non-null  float64
 4   rating                   36438 non-null  float64
 5   rubric                   43195 non-null  object
 6   coffee_to_go             43195 non-null  int64
 7   food_delivery            43195 non-null  int64
 8   breakfast                43195 non-null  int64
 9   summer_terrace           43195 non-null  int64
 10  wi_fi                    43195 non-null  int64
 11  business_lunch           43195 non-null  int64
 12  payment_by_credit_card   43195 non-null  int64
 13  car_park                 43195 non-null  int64
 14  gift_certificate         43195 non-null  int64
 15  karaoke                  43195 non-null  int64
 16  free_delivery            43195 non-null  int64
 17  music                    43195 non-null  int64
 18  pets                     43195 non-null  int64
 19  air_conditioning         43195 non-null  int64
 20  view_on_ostankino_tower  43195 non-null  int64
dtypes: float64(2), int64(16), object(2), uint64(1)
memory usage: 6.9+ MB
None

Name: "msk" Count: "11075"

Кафе
Кофейня
Суши-бар
Пиццерия
Бар, паб
Ресторан
Столовая
Спортбар
Кальян-бар
Кофе с собой
Кондитерская
Быстрое питание
Булочная, пекарня
Бар безалкогольных напитков

Average Bill: 1099.0958408679928

The share of "Coffee with you” establishments has a takeaway coffee feature: 0.5899280575539568

Average Bill Difference between msk and spb: 94.73288667248733

There is an institution whose rating is 0
Feature occurs min times is Name: "pets" Occurs: "13"
Feature occurs max times is Name: "wi_fi" Occurs: "15248"
Writing to E:\PythonProjects\projects\mlYandex\source\csv\spb_datasets_eat_places.csv
End of data writing

Average Bill: 689.5560523794314 (it has shrunk)

There is not an institution whose have feature "view_on_ostankino_tower"